@attribute [RenderModeInteractiveAuto]
<div style="text-align: center;">
    <MudText Typo="Typo.h6" Color=Color.Primary>@ListName</MudText>
        <ul style="@($"color:{Theme.Palette.Primary};")">
            @foreach (string ingredient in Ingredients.OrderBy(x => x))
        {
            <li>
                @ingredient
            </li>
        }
    </ul>
</div>



@code {

    [Parameter]
    public string ListName { get; set; }

    [Parameter]
    public List<string> Ingredients { get; set; }

    private MudTheme Theme = new MudTheme();


    protected override void OnParametersSet()
    {
        ArgumentNullException.ThrowIfNull(ListName);
        ArgumentNullException.ThrowIfNull(Ingredients);
    }
}