@inherits LayoutComponentBase

<header>The header </header>
<main>
    @Body
</main>
<footer>
    &copy; Emily Hatala @DateTime.UtcNow.Year
</footer>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
